html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

$mobile_width: 600px;

* {
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 600px) {
        padding: 0;
    }
}

.container-fluid {
    background-color: brown;
    color: white;
    border-radius: 10px;
    @media only screen and (max-width: 600px) {
        border-radius: 0px;
    }
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.col-md-1 {
    @media (min-width: $mobile_width) {
        width: 8.33%;
    }
}
.col-md-2 {
    @media (min-width: $mobile_width) {
        width: 16.66%;
    }
}
.col-md-3 {
    @media (min-width: $mobile_width) {
        width: 25%;
    }
}
.col-md-4 {
    @media (min-width: $mobile_width) {
        width: 33.33%;
    }
}
.col-md-5 {
    @media (min-width: $mobile_width) {
        width: 41.66%;
    }
}
.col-md-6 {
    @media (min-width: $mobile_width) {
        width: 50%;
    }
}
.col-md-7 {
    width: 58.33%;
    @media (min-width: $mobile_width) {
        width: 66.66%;
    }
}
.col-md-8 {
    @media (min-width: $mobile_width) {
        width: 66.66%;
    }
}
.col-md-9 {
    @media (min-width: $mobile_width) {
        width: 75%;
    }
}
.col-md-10 {
    @media (min-width: $mobile_width) {
        width: 83.33%;
    }
}
.col-md-11 {
    @media (min-width: $mobile_width) {
        width: 91.66%;
    }
}
.col-md-12 {
    @media (min-width: $mobile_width) {
        width: 100%;
    }
}

.col-sm-1 {
    @media (max-width: $mobile_width) {
        width: 8.33%;
    }
}
.col-sm-2 {
    @media (max-width: $mobile_width) {
        width: 16.66%;
    }
}
.col-sm-3 {
    @media (max-width: $mobile_width) {
        width: 25%;
    }
}
.col-sm-4 {
    @media (max-width: $mobile_width) {
        width: 33.33%;
    }
}
.col-sm-5 {
    @media (max-width: $mobile_width) {
        width: 41.66%;
    }
}
.col-sm-6 {
    @media (max-width: $mobile_width) {
        width: 50%;
    }
}
.col-sm-7 {
    width: 58.33%;
    @media (max-width: $mobile_width) {
        width: 66.66%;
    }
}
.col-sm-8 {
    @media (max-width: $mobile_width) {
        width: 66.66%;
    }
}
.col-sm-9 {
    @media (max-width: $mobile_width) {
        width: 75%;
    }
}
.col-sm-10 {
    @media (max-width: $mobile_width) {
        width: 83.33%;
    }
}
.col-sm-11 {
    @media (max-width: $mobile_width) {
        width: 91.66%;
    }
}
.col-sm-12 {
    @media (max-width: $mobile_width) {
        width: 100%;
    }
}

.row {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}

.d-md-block {
    @media (min-width: $mobile_width) {
        display: block;
    }
}

.d-sm-block {
    @media (max-width: $mobile_width) {
        display: block;
    }
}

.bg-success {
    background-color: green;
}
