.show_cage {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
    justify-content: center;

    .item {
        border: 2px solid red;
        padding: 5px;
        margin: 3px;
        background-color: black;
        color: white;
        @media screen and (min-width: $mobile_width) {
            margin: 5px;
        }

        .item_title {
            font-weight: 900;
            color: rgb(219, 65, 65);
            margin: 1px;
        }
        .item_location {
            font-weight: 600;
            font-style: italic;
            color: yellow;
            margin: 1px;
        }

        .item_bio {
            font-weight: 300;
            font-style: italic;
            color: rgb(190, 70, 184);
            margin: 1px;
        }

        button {
            width: 100%;
            background-color: rgb(240, 48, 48);
            cursor: pointer;
            color: white;
            font-size: 15px;
        }
    }
}

.intro {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
    justify-content: center;

    .intro_box {
        padding: 15px;
        color: white;
        text-align: center;
    }

    .intro_box1 {
        background-color: #190a49;
    }

    .intro_box2 {
        background-color: #3c098d;
    }

    .intro_box3 {
        background-color: #ff0e3b;
    }
}

.benefites {
    display: flex;
    justify-content: center;

    .benefites_box {
        color: white;
        padding: 10px;
        background: linear-gradient(to right, rgb(39, 3, 243), rgb(94, 8, 8));
        width: 50%;
    }

    ul {
        list-style-type: none;

        li {
            a {
                color: white;
            }
        }
    }
}
